@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="results-area">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Rates summary</h4>
                </div>
                <div class="card-body">
                    <div class="doughnut">
                        <div class="doughnutChartContainer">
                            <canvas id="doughnutChart" height="350"></canvas>
                        </div>
                        <div id="legend" class="chart-legend"></div>
                    </div>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Top 5 Rated Games</h4>
                </div>
                <div class="card-body">
                    <div class="text-left">
                        <table id="top-high-game-tbl" class="table table-striped table-bordered" style="width:100%">
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Top 5 Un-Rated Games</h4>
                </div>
                <div class="card-body">
                    <div class="text-left">
                        <table id="top-low-game-tbl" class="table table-striped table-bordered" style="width:100%">
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-left">
            <table id="recent-rates-tbl" class="table table-striped table-bordered" style="width:100%">
            </table>
        </div>
    </div>
    <div id="main-game-tbl-area">
        <div class="text-left">
            <table id="main-game-tbl" class="table table-striped table-bordered" style="width:100%">
            </table>
        </div>
    </div>
</div>